<div class="container-fluid header">
    <div class="container header-wrapper">
      <a routerLink="/" class="logo">{{ appTitle }}</a>
      <nav class="nav-bar">
        <ul class="nav-list">
          <li class="new-retro"><a routerLink="/">new-retro</a></li>
          <li class="add-schedule"><a routerLink="/add-schedule">add-schedule</a></li>
          <li class="bell"><a routerLink="/bell"></a></li>
          <li class="profile"><a routerLink="/profile">James Felix </a><span class="pic"></span></li>
        </ul>
      </nav>
    </div>
  </div>
